/* image for photo.js */
.photowrapper {
  width: 75%;
  background-color: #dfdada;
}

.aside {
  display: flex;
}

.photowrapper .dashboard {
  display: flex;
  justify-content: center;
}
.photowrapper .dashboard .Photos .active {
  background-color: #e6e6e6;
}
.photowrapper .dashboard img {
  display: block;
  max-width: 20px;
  margin-right: 23px;
  max-height: 18px;
}
.photowrapper .barmenu .Dashboard p img {
  max-width: 20px;
  margin-right: 20px;
  max-height: 18px;
}
.galleryImage {
  width: 240px;
  height: 200px;
}
.galleryImg {
  position: absolute;
}
.delete {
  position: relative;
  top: 0.8em;
  left: 10.5em;
  color: #fff;
  border: 1px solid #000000;
  padding: 5px;
  background-color: #000;
  border-radius: 50%;
}
.photowrapper .report p Image {
  display: block;
  max-width: 20px;
  margin-left: 42px;
  max-height: 18px;
}
.photowrapper .report {
  display: flex;
  justify-content: center;
}
.photowrapper .imgwrapper {
  margin-top: 10px;
}

.photowrapper .upload button {
  padding: 10px;
  color: #252988;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #252988;
  cursor: pointer;
}

.photowrapper .imgcount p {
  color: #ffa64d;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 27px;
  margin-left: 22px;
}
.photowrapper .row {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 25px;
  column-gap: 100px;
}

.photowrapper .row .col button {
  display: flex;
  float: right;
  border: none;
  cursor: pointer;
  right: 0;
  position: absolute;
}

.upload {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
