.main {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  background-image: url(/images/BackgroundImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  border-bottom: none;
}
.leftSection {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: #fff;
}
.content {
  width: 60%;
  margin-right: 200px;
}
.content h1 {
  font-size: 40px;
  font-family: Helvetica;
  letter-spacing: 2px;
}
.content p {
  font-family: Helvetica;
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.rightSection {
  width: 30%;
}
.imgArea {
  margin-right: 60px;
}

.lowerPart {
  width: 100%;
  height: 50px;
  background-color: #04045f;
  color: #fff;
  position: absolute;
  top: 453px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.75;
}
.lowerPart p {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.lowerPart p a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-weight: bolder;
  margin-left: 5px;
}
.aside {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.leftAside {
  width: 20%;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 24px 4px;
  gap: 12px;
}
.container a {
  text-decoration: none;
  width: 98%;
}
.container p {
  padding: 16px 24px;
  color: #001080;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  font-family: roboto;
  font-size: 20px;
  border-radius: 8px;
}
.container p a {
  text-decoration: none;
}
.container p:hover {
  background-color: #eaeaea;
}
.active {
  background-color: #eaeaea;
}
.asideIcon {
  margin-right: 10px;
}
.sidebarImg {
  margin-right: 10px;
  color: 0000ff;
}
.rightAside {
  width: 80%;
}
