@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}

/* circular  */
.progress-ring {
  display: block;
  margin: 20px auto;
}

.progress-ring__circle {
  stroke: #e6e6e6;
}

.progress-ring__circle--progress {
  stroke: #2ecc71;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-ring__text {
  fill: #000;
  font-size: 24px;
  font-weight: bold;
  dominant-baseline: middle;
  text-anchor: middle;
}

/* circular2 */
.circular-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: #0fa900;
  background: radial-gradient(circle, #0fa900 0%, #d2f2cf 90%);
  position: relative;
  bottom: 55px;
}
.circular-progress .subGoal {
  height: 440px;
  width: 440px;
  background-color: #fafafa;
  border-radius: 50%;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subGoal .currentGoal {
  font-size: 90px;
  font-weight: 500;
  color: #000080;
}
.subGoal .percentage {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 46px;
  font-weight: 400;
}

.subGoal .totalGoal {
  color: #000080;
  font-weight: 500;
  font-size: 48px;
}
