.content {
  width: 60%;
  margin-right: 200px;
}
.content h1 {
  font-size: 40px;
}
.content p {
  font-size: 20px;
  margin-top: 20px;
}
.rightSection {
  width: 30%;
}

.aside {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.leftAside {
  width: 20%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}
.container a {
  text-decoration: none;
  width: 100%;
}
.container p {
  padding: 15px 10px;
  color: #010080;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
  display: flex;
}
.container p a {
  text-decoration: none;
}
.container p:hover {
  background-color: #eaeaea;
}
.active {
  background-color: #eaeaea;
}
.asideIcon {
  margin-right: 10px;
}
.sidebarImg {
  margin-right: 10px;
  color: 0000ff;
}

/* adminFundraiser Starts */

.rightAside {
  width: 80%;
  padding: 0 20px 20px;
  background-color: #dfdada;
}
.rightAside h1 {
  color: #fd8900;
  padding: 15px 0;
  font-weight: bold;
}
.firstCol label {
  font-weight: bold;
}
.mainCol {
  display: flex;
  gap: 50px;
}
.firstCol {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 10px;
}
#FundraisingTarget,
#MyStory,
#MoneyRaised {
  margin-top: 5px;
  width: 330px;
  outline: none;
  padding-left: 1px;
}
.aboutMe {
  position: relative;
  top: 10px;
}
.thirdCol {
  margin-top: 20px;
}
#MoneyRaised {
  width: 100%;
}
.submitButton {
  display: flex;
  justify-content: flex-end;
}
.formButton {
  background-color: #010080;
  color: #fff;
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 15px;
}
